{% extends 'base.html.twig' %}

{% block title %}Picture index{% endblock %}

{% block body %}
    <h1>Picture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserSafe</th>
                <th>HomeLocalisation</th>
                <th>HomeCountry</th>
                <th>CityBecoming</th>
                <th>UrlPicture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.userSafe }}</td>
                <td>{{ picture.homeLocalisation }}</td>
                <td>{{ picture.homeCountry }}</td>
                <td>{{ picture.cityBecoming }}</td>
                <td>{{ picture.urlPicture }}</td>
                <td>
                    <a href="{{ path('app_picture_show', {'id': picture.id}) }}">show</a>
                    <a href="{{ path('app_picture_edit', {'id': picture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
