


<container>
    <row>
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>Erreur lors du chargement d'une image</center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>Preview: {{ preview }}</p>
            <p>Trace: {{ trace }}</p>
            <p>Status Code: {{ codeStatus }}</p>
            <p>Ligne: {{ line }}</p>
            <p>Message d'erreur: {{ messageContent }}</p>
            <p>Fichier: {{ file }}</p>
        </columns>
    </row>
    <row class="footer">
        <columns>
            <p>Message automatique de www.refugiesensecurite.com</p>
        </columns>
    </row>
</container>

