<div class="row px-2">
    <div class="col-12">
        {{ form_start(formUserSafe) }}
        <div class="row justify-content-center my-2">
            {{ form_label(formUserSafe.userSafe) }}
            {{ form_widget(formUserSafe.userSafe) }}
        </div>
        <div class="row justify-content-center my-2">
            {{ form_label(formUserSafe.homeLocalisation) }}
            {{ form_widget(formUserSafe.homeLocalisation) }}
        </div>
        <div class="row justify-content-center my-2">
            {{ form_label(formUserSafe.homeCountry) }}
            {{ form_widget(formUserSafe.homeCountry) }}
        </div>
        <div class="row justify-content-center my-2">
            {{ form_label(formUserSafe.cityBecoming) }}
            {{ form_widget(formUserSafe.cityBecoming) }}
        </div>
        <div class="row justify-content-center my-2">
            {{ form_label(formUserSafe.urlPicture) }}
            {{ form_widget(formUserSafe.urlPicture) }}
        </div>
        <div class="row justify-content-left my-2">
            {{ form_widget(formUserSafe.agreeTerms) }}
            {{ form_label(formUserSafe.agreeTerms) }}
            <p class="text-left col-md-3 col-12 mx-0 px-0"><a href="{{ path('app_mentions_legales') }}">{{ 'mentions.legales'|trans }}</a></p>
        </div>
        <div class="row justify-content-center my-2">
            {{ form_label(formUserSafe.save) }}
            {{ form_widget(formUserSafe.save) }}
        </div>
        {{ form_end(formUserSafe) }}
    </div> <!-- end col -->
</div>